# Dependências do Composer
/vendor/

# Arquivos de configuração sensíveis
.env

# Arquivos temporários e de cache
*.log
*.cache
*.tmp

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/